[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
mock = "*"
mypy = "*"
"flake8" = "*"
isort = "*"
pytest-cov = "*"
black = "==19.10b0"

[packages]
toml = "*"
"flake8" = "*"
mypy = "*"

[requires]
python_version = "3.8"
